.detail-container {
  height: auto;
}

.txt-container {
  display: flex;
  justify-content: space-around;
}

.ticker {
  width: 4rem;
}

.back-symbol {
  background-color: #023670;
  color: white;
  height: 2rem;
}

.txt-header-detail {
  width: 12rem;
}

.txt-header-detail h5 {
  font-size: 14px;
}

.header-detail {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  background: linear-gradient(to top, #023670 0%, #537895 100%);
  color: white;
  font-family: 'Lato', sans-serif;
}

.p-stock {
  font-size: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: white;
  font-family: 'Lato', sans-serif;
}

.info-stocks {
  background-color: #023670;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 10px;
  padding: 0.3rem;
}

.title-info {
  font-weight: bold;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.wrapper:nth-child(odd) {
  background-color: #0366c0;
}

.wrapper:nth-child(even) {
  background-color: #023670;
}

@media (min-width: 768px) {
  .txt-container {
    font-size: 39px;
  }

  .p-stock {
    font-size: 23px;
  }

  .txt-header-detail {
    width: 50%;
  }
}
